body{
	font:16px/1.5 Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, sans-serif;
	line-height: 1.2;
	margin: 0.5em 0; /*top, bottom, left, right */
}

h1{font-size: 2.0em; line-height: 1.1;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em; font-weight: bold;}

p{
	padding-bottom: 1.5em;
}

ul, ol{
	padding-left: 0.5em;
	padding-top: 2em;

}

p + ol {padding-top: 0;}

ul li{
	list-style-type: disc;

}

ol li ul li{
	list-style-type: lower-alpha;
	font-weight: lighter;
}

ol li ol li ul li{
	list-style-type: square;
	font-family: "Adobe Caslon Pro Bold", "Times New Roman"

}

 ol li ol li ul li ol li{
	list-style-type: lower-roman;
	font-weight: lighter;
	font-family: "Monotype Corsiva", Verdana

}


ol li {
	list-style-type: upper-alpha;
		font-weight: bold;
				
}
	
ol li ol li{
	list-style-type: decimal;
	font-style: italic;  
	font-weight: lighter;